const jsonutilsGoTemplate =`
package jsonutils

import (
	"encoding/json"
	"fmt"
	"net/http"
)

func EncodeJson[T any](w http.ResponseWriter, r *http.Request, statusCode int, data T) error {
	w.Header().Set("Content-Type", "Application/json")
	w.WriteHeader(statusCode)
	if err := json.NewEncoder(w).Encode(data); err != nil {
		return fmt.Errorf("failed to encode json %w", err)
	}

	return nil
}

func DecodeJson[T any](r *http.Request) (T, error) {
	var data T
	if err := json.NewDecoder(r.Body).Decode(&data); err != nil {
		return data, fmt.Errorf("decode json failed: %w", err)
	}

	return data, nil
}

func SendError(w http.ResponseWriter, r *http.Request, statusCode int, message string) {
	response := map[string]string{
		"error":  message,
		"status": "error",
	}
	EncodeJson(w, r, statusCode, response)
}
`